body {
    background-color: rgb(163, 24, 0);
}

h1 {
    color: rgb(248, 224, 114);
    font-size: 60px;
    outline-width: 10px;
    outline-style: double;
    outline-color: rgb(233, 54, 0);
    outline-offset: 12px;
    -webkit-text-stroke: 2.5px;
    -webkit-text-stroke-color: rgb(109, 7, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h2 {
    color: rgb(235, 159, 71);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(109, 7, 0);
    font-size: 25px;
}

div {
    color: rgb(255, 246, 127);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    margin-left: 100px;
    margin-right: 100px;
}

ul {
    white-space: nowrap;
}

ul,
li {
    list-style: none;
    display: inline;
}

footer {
    outline-width: 10px;
    outline-style: double;
    outline-color: rgb(233, 54, 0);
    outline-offset: 12px;
    -webkit-text-stroke: 0.9px;
    -webkit-text-stroke-color: rgb(109, 7, 0);
    font-size: 20px;
}